FlexboxLayout {
    
    background-size: cover;
    background-color: white;
}

  StackLayout {
    width: 400;
    padding: 20 16;
    background-color:black;
  }

  Button , TextField , Label {
    margin-bottom: 1;
  }

  TextField {
    placeholder-color:black;
    background-color:white;
  }
  
  Label {
    placeholder-color: black;
    background-color: white;
  }